{% extends "base.html" %}
{% block content %}
        <p>{{ course.title }}</p><br>
        <p>{{ course.description }}</p><br>
        <ul>
        {% for task in tasks %}
            <li><a href="/task/{{ task.id }}"><p class="input-group-text">{{ task.title }}</p></a></li>
        {% endfor %}
        </ul><br>
        <a class="btn btn-primary" href="/add_task/{{ course.id }}" id="diff-btn">Добавить задачу</a><br>
        <a class="btn btn-secondary" href="/edit/course/{{ course.id }}">Изменить</a>
        <a class="btn btn-secondary" href="/delete/course/{{ course.id }}">Удалить</a><br>
{% endblock %}