{% extends "base.html" %}
{% block content %}
        <div class="profile-block">
            <p>{{ user_info['role'] }}</p>
            <div class="name-photo-block">
                <img src="{{ user_info['image'] }}" alt="Missing profile picture" id="profile_picture">
                <ul class="list-group">
                    <li>{{ user_info['name']}} {{ user_info['surname']}} </li>
                    <li>{{ user_info['login'] }}</li>
                    <li>{{ user_info['email'] }}</li>
                </ul>
            </div>
            {% if current_user.is_authenticated %}
            <p>Курсы</p>
            <ul class="list-group">
                {% for course in user_info['courses'] %}
                    <li><a href="/course/{{ course.id }}" class="btn btn-secondary"><p>{{ course.title }}</p></a></li>
                {% endfor %}
            </ul>
            <p>Задачи</p>
            <ul class="list-group">
                {% for task in user_info['tasks'] %}
                    <li><a href="/task/{{ task.id }}" class="btn btn-secondary"><p>{{ task.title }}</p></a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
{% endblock %}