{% extends "base.html" %}

{% block content %}
        <p class="fs-2">{{ task.title }}</p><br>
        <p>{{ task.condition }}</p>
        <table class="table" title="Тесты/Решения">
        {% if current_user.id == task.author_id %}
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Входные данные</th>
                    <th scope="col">Выходные данные</th>
                    <th scope="col">Кнопки</th>
                </tr>
            </thead>
            <tbody>
            {% for test in tests %}
            <tr>
                <th scope="row">{{ test.id }}</th>
                <td>{{ test.idata }}</td>
                <td>{{ test.odata }}</td>
                <td>
                    <a href="/edit/test/{{ test.id }}" class="btn btn-primary">Редактировать</a>
                    <a href="/delete/test/{{ test.id }}" class="btn btn-primary">Удалить</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Процент пройденных тестов</th>
                    <th scope="col">Решение</th>
                </tr>
            </thead>
            <tbody>
            {% for solution in solutions %}
            <tr>
                <th scope="row">{{ solution.id }}</th>
                <td>{{ solution.accuracy }}</td>
                <td>
                    <a href="/solution/{{ solution.id }}" class="btn btn-primary">Перейти к решению</a>
                    <a href="delete/solution/{{ solution.id }}" class="btn btn-primary">Удалить</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        {% if current_user.id != task.author_id %}
            <a href="/add_solution/{{ task.id }}"><button class="btn btn-primary">Добавить решение</button></a>
        {% else %}
            <a href="/add_test/{{ task.id }}"><button class="btn btn-primary" id="diff-btn">Добавить тест</button></a><br>
            <a class="btn btn-primary" href="/edit/task/{{ task.id }}">Изменить</a>
            <a class="btn btn-primary" href="/delete/task/{{ task.id }}">Удалить</a><br>
        {% endif %}
        <p>{{ message }}</p>
        <div class="com-block">
            {% for com in comments %}
                <div class="comment">
                    <a href="/profile/{{ com.author_id }}" class="btn btn-primary">{{ com.pseudonim }}</a><br>
                    <p>{{ com.text }}</p><br>
                </div>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated %}
            <form action="" method="post">
                <input class="form-control" type="text" placeholder="Псевдоним" name="pseudo">
                <input class="form-control" type="text" placeholder="Текст" name="text">
                <button class="btn btn-primary" type="submit">Написать</button>
            </form>
        {% endif %}
{% endblock %}